DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DATABASE?sslmode=require"

PORT=3000
NODE_ENV="development"

FRONTEND_URL="http://localhost:5173"

JWT_ACCESS_SECRET="your-jwt-access-secret-here"
JWT_REFRESH_SECRET="your-jwt-refresh-secret-here"

JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="30d"

# Paystack configurations
PAYSTACK_SECRET_KEY="your-paystack-secret-key"
PAYSTACK_PUBLIC_KEY="your-paystack-public-key"
PAYSTACK_CALLBACK_URL="http://localhost:5173/payment/success"
PAYSTACK_WEBHOOK_SECRET="your-paystack-webhook-secret"

# Initial admin
# INITIAL_ADMIN_NAME="Keplex Super Admin"
# INITIAL_ADMIN_EMAIL="admin@keplex.com"
# INITIAL_ADMIN_PASSWORD="your-secure-admin-password"

# Cloudinary configuration
CLOUDINARY_URL="cloudinary://API_KEY:API_SECRET@CLOUD_NAME"
CLOUDINARY_CLOUD_NAME="your-cloud-name"
CLOUDINARY_API_KEY="your-cloudinary-api-key"
CLOUDINARY_API_SECRET="your-cloudinary-api-secret"